html, body {
	width: 		100% !important;
	height: 	100% !important;
	background-color: 	#fff;
	padding: 	0; margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header {
	width: 				100%;
	height: 			500px;
	position: 			absolute;
	top: 0; left: 0;
	background-position: 	center;
	background-size: 	cover;
	padding-top: 		50px;

}
.content {
	width: 		95%;
	margin: 	0 auto;
}
div#logo_bef {
	display: 		none;
}
div#head > div {
	display: 		inline-block;
	vertical-align: top;
}
div#logo_af {
	border-right: 80px solid transparent; 
	border-top: 100px solid #fff; 

}
div#nav_bef {
	border-left: 80px solid transparent; 
	border-bottom: 100px solid #0586c0; 
	margin-left: 	-70px;
}
div#logo {
	height: 			100px;
	width: 				calc(25% - 80px);
	min-width: 			165px;
	background-color: 	#fff;
	vertical-align: 	middle;
	line-height: 		100px;
	text-align: 		right;
	font-size: 			45px;
	font-weight: 		bolder;

}
div#logo span {
	margin-right: 		55px;	
}
div#logo img {
	height: 			60px;
	vertical-align: 	middle;
}
@media only screen and (max-width: 1400px) {
	div#logo {
		font-size: 			20px;
	}
	div#logo  span {
		margin-right: 		0px;	
	}
}
div#logo a {
	color: 				#000;
	text-decoration: 	none;
}
div#nav {
	height: 			100px;
	width: 				calc(75% - 25px);
	min-width: 			680px;
	background-color: 	#0586c0;
	line-height: 		100px;
	color: 				#fff;
	text-align: 		center;
}
#nav ul {
	padding: 0; margin: 0;
	width: 				100%;
}
#nav ul li {
	display: 			inline-block;
	text-decoration: 	none;
	text-align: 		center;
	line-height: 		30px;
	font-size: 			17px;
	vertical-align: 	middle;
	border: 			5px solid transparent;
	border-radius: 		50px;
	padding: 			0px 1px;
	width: 				20%;

}
.li_about {
	min-width: 180px;
}
.li_customer {
	min-width: 280px;
}
@media only screen and (max-width: 1300px) {
	#nav ul li {
		font-size: 			12px;
		width: 				18%;
	}
	.li_about {
		min-width: 160px;
	}
	.li_customer {
		min-width: 200px;
	}
}
#nav a {
	color: 				#fff;
	text-decoration: 	none;
}
#nav ul li :hover {
	background-color: 	#44bdf3;
	border: 			5px solid #44bdf3;
	border-radius: 		30px;
	transition: 		0.5s;
}
#nav ul li.selected {
	background-color: 	#fff;
	border: 			0px solid #fff;
}
#nav ul li.selected a {
	color: 				#000;
}
#header_help {
	height: 570px;
}
footer {
	width: 				100%;
	height: 			300px;
	background-color: 	000;
	color: 				#fff;
	background-image: 	url(../images/back_footer.jpg);
	background-position: 	center;
	background-size: 	cover;
}
footer div {
	max-width: 			650px;
	margin: 			0 auto;
	text-align: 		center;
	padding-top: 		50px;
	font-size: 			1.7em;
}

/****************ПЕРВАЯ СТРАНИЦА*****************/

h1, p#h1 {
	text-align: 	center;
	width: 			70%;
	margin: 		150px auto;
	color: 			#fff;	
	font-size: 		2em;
	font-weight: 	bold;
}
.description {
	width: 			650px;
	margin: 		0 auto;
	text-align: 	center;
	color: 			#000;
	font-size: 		1.3em;
	line-height: 	1.6em;
}
.description ul li {
	text-align: 		left;
	list-style-type: 	none;
	padding-bottom: 	20px;
}
/****************ВТОРАЯ СТРАНИЦА*****************/
.text {
	text-align: 		justify;
	text-indent: 		20px;
}

/******************ДЕЯТЕЛЬНОСТЬ**************/
article.content {
	text-align: 	center;
}
article.content > div {
	display: 		inline-block;
	vertical-align: top;
	width: 			320px;
	height: 		240px;
	margin: 		10px;

	background-size: 	contain;	
}
article.content > div > p {
	position: 		absolute;
	bottom: 		-164px;
	height: 		50px;
	font-size: 		1em;
	position: 		relative;

	padding-top: 	10px;
	color: 			#fff;
	background-color: rgba(5,134,192,0.8);

}


.only_mobile {
	display: 		none;
}